<header class="navbar-fixed-top">
  <div class="nav-wrapper container">
    <%= link_to "sample app", root_path, id: "logo", class: "brand-logo" %>
    <nav class="cyan darken-2">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Account</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider" tabindex="-1"></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
          <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<script>
  $('.dropdown-trigger').dropdown({
    coverTrigger : false
  });
</script>